<h1 class="text-center">All Robots</h1>

<div id="robot_index" class="row">
  <% @robots.each do |robot| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <img src="https://robohash.org/<%=robot.name%>.png" style="width: 100%;">
          <div class="row">
            <a href="/robots/<%= robot.name %>"><%= robot.name %></a>
          </div>
          <div class="row">
            <a href="/robots/<%= robot.name %>/edit" class="waves-effect waves-light btn">Edit</a>
            <form action="/robots/<%= robot.name %>" method="post" class="col m6" style="width: 150px; margin: 0px 10px 0px 10px;">
              <input type="hidden" name="_method" value="delete">
              <input name="delete_robot_button" type="submit" class="waves-effect waves-light btn" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>