  <!-- <div class="container">
  <div class="col-md-3"> -->
      <h1 class="text-capitalize"><%= @robot.name %></h1>
      <h1><%= @robot.city %></h1>
      <h1><%= @robot.state %></h1>
      <h1><%= @robot.birthdate %></h1>
      <h1><%= @robot.date_hired %></h1>
      <h1><%= @robot.department %></h1>
  <!-- </div>
</div> -->